body {
  font-family: Arial, sans-serif;
  background-color: #143231;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background: #A9825d;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color : #fff;
}

#question-box {
  margin-bottom: 20px;
}

#question {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color : #fff;
}

#answer-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #143231;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #143231;
}

#result-box {
  margin-top: 20px;
}

#feedback {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
